$color-primary: #F60689;
$color-success: #6edaa8;

$color-highlight: #528DE0;
$color-secondary: #3f2040;
$color-border: #E5E5E6;
$color-form-background: #F9F9F9;
$color-text-secondary: #73808C;
$color-text-disable: #C7CCD1;

$color-status-sending: #a7919c;
$color-status-received: #63d0d5;
$color-status-success: #6edaa8;
$color-status-reject: #EFC457;
